h1{
    text-align: center;
    font-size: 40px;
}
#estatico{
    background-color: chocolate;
    width: 100px;
    height: 100px;
}
#fijo{
    position: fixed;
    background-color: darkcyan;
    right: 50px;
    bottom: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
#absoluto{
    position: absolute;
    background-color: firebrick;
    left: 50px;
    bottom: 50px;
    height: 50px;
    width: 50px;
}
#grande{
    background-color: darkgreen;
    height: 700px;
    width: 300px;
}
#pegajoso{
    position: sticky;
    position: -webkit-sticky; /*Para Safari*/
    background-color: goldenrod;
    top: 50px;
    width: 100%;
    height: 200px;
    border: 1px dotted black;
}
#relativo{
    background-color: aquamarine;
    position: relative;
    left: 350px;
    bottom: 100px;
    width: 200px;
    height: 200px;
}
#absoluto2{
    position: absolute; 
    background-color: black;
    top: -20px;
    left: 150px;
    height: 30px;
    width: 30px;
}
#desbordado{
    background-color: rgb(76, 76, 152);
    width: 200px;
    height: 65px;
    border: 1px solid grey;
    overflow: hidden;
}
#desbordado2{
    background-color: rgb(93, 93, 182);
    width: 200px;
    height: 65px;
    border: 1px solid grey;
    overflow: scroll;
    margin-bottom: 300px;
}
#desbordado3{
    background-color: rgb(93, 93, 182);
    width: 200px;
    height: 65px;
    border: 1px solid grey;
    overflow: auto;
    margin-bottom: 300px;
}
#alerta{
    background-color: red !important;
    margin-bottom: 200px;
}