*{
    font-family: arial;
}

#nosotras, #eventos, #cursosdinamicos, #certificaciones, #quieroSer{
    display: none;
}

.secciones{
    scroll-margin-top: 100px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.tituloSecciones{
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 20px;
}

.iconosredes {
    font-size: 1.5em;
    padding-right: 0.5em;
}

#nav-superior i{
    color: black;
    text-decoration: none;
}

#menuHamburguesa{
    /* border: black 1px solid; */
    margin-top: 10px;
    z-index: 1;
    height: 100px;
}

.nav-item:hover{
    background-color: orange;
}

ul{
    list-style: none;
}

#flechaArriba{
    width: 50px;
    position: fixed;
    bottom: 2%;
    right: 10px;
    z-index: 1;
}

#img-der-carrusel{
    width: 41%;
}

#inicio{
    margin-bottom: 150px;
}

.animate__animated.animate__fadeInLeft {
    --animate-duration: 1s;
}

.animate__animated.animate__fadeInRight {
    --animate-duration: 1s;
}

#nosotras-left{
    text-align: center;
}

.img-nosotras-left{
    border-radius: 25%;
    float: hidden;
}

#img-fluid{
    align-content: center;
}

.tituloDiv{
    padding-top: 130px;
    margin-bottom: 30px;
}

.titulo-derecho{
    margin-top: 50px;
}

.valores{
    display: inline-block;
}

#corazon{
    width: 25px;
    display: inline-block;
    position: relative;
    top: -5px;
}

.listaViñetasVisibles{
    list-style-type: disc;
}


@media (min-width:770px){
    #valores-right{
        position: relative;
        left: 50%;
    }
    
    #valores-left{
        position: relative;
        right: 50%;
    }
}

.logosApoyo{
    height: 250px;
    max-width: 400px;
    margin: auto;
    border-radius: 5px;
}

.card{
    border-radius: 2%;
    margin-bottom: 15px;
}

.card-img-top{
    border-radius: 2% 2% 0 0;
}

.cardLogos{
    align-items: center;
    text-align: center;
}

.card-body{
    margin: 0 auto;
}

.linkApoyos:hover{
    background-color: #DCDCDC;
}

#formulario{
    max-width: 500px;
    align-items: center;
    margin: 0 auto;
}

.cajaBordes{
    border-radius: 2%;
}

.boton-final{
    padding-bottom: 130px;
}

#mapa{
    height: 400px; 
    width: 100%; 
    padding: 0px; 
    border-width: 0px; 
    margin: 10px 0; 
    left: 0px; 
    top: 0px;
    touch-action: pan-x pan-y;
}

#pie{
    background-color: #003566;
}

#pie h3{
    color: #ffff00;
    font-size: large;
}

.iconos-redes{
    font-size:2em;
    padding-right: 0.5em;
}

#pie i{
    color: #fff;
}

.aFooter{
    text-decoration: none;
    color: white;
}
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

body {  
  background-color: HoneyDew;
  font-family: 'Fredoka One', cursive;
  margin: 0;
  padding: 0;
}

.text-container {
  padding: 0;
  text-align: center;
}

.text-container .text-gradient {  
  color: transparent;
  background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);
   --webkit-background-clip: text;
    background-clip: text;
  animation: color 3s linear infinite; 
  background-size: 500%;  
  --webkit-transform: translate3d(0,0,0);
    --webkit-backface-visibility: hidden;
}

@keyframes color {
  from { 
    background-position: 0% 50%;
  }
  to { 
    background-position: 100% 50%; 
  }
}